<div class="container">
    <div class="row align-item-start">
        <div class="col">
    <h3><i>Firstname : <input type="text" #first></i></h3><br/>
    <h3><i>Lastname : <input type="text" #second></i></h3><br/>
    <button (click)="save(first.value,second.value)"><b>SAVE</b></button>
</div>
<div class="col">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><h3>First Name</h3></td><td><h3>Last Name</h3></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of array">
                <td>{{data.first}}</td><td>{{data.last}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>

